.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

header ul {
  display: inline-flex;
}

header li {
  list-style: none;
  padding: 7px;
}

header li a {
  color: rgb(255, 0, 234);
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

body {
  background-color: #663d8e;
  padding: 0 26px;
}

.quote {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  font-size: 24px;
  line-height: 28px;
}

main p {
  font-size: 18px;
}
